BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 12px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"����",verdana; TEXT-ALIGN: center
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #2244dd; TEXT-DECORATION: none
}
A:hover {
	COLOR: #fa4d09; TEXT-DECORATION: underline
}
.header {
	MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 155px
}
.logo {
	MARGIN-TOP: 15px; FLOAT: left
}
.top {
	WIDTH: 958px; HEIGHT: 72px
}
.loginBar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; MARGIN-BOTTOM: 17px; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; HEIGHT: 25px
}
.loginList {
	BORDER-RIGHT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; BACKGROUND: #fafafa; FLOAT: left; BORDER-LEFT: #ebebeb 1px solid; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #ebebeb 1px solid
}
.loginList LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.loginList A {
	COLOR: #333
}
.loginList2 {
	BORDER-RIGHT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; BACKGROUND: #e8fbdd; FLOAT: left; BORDER-LEFT: #ebebeb 1px solid; BORDER-BOTTOM: #ebebeb 1px solid
}
.loginList2 LI {
	PADDING-RIGHT: 8px; TEXT-ALIGN: left
}
.loginList2 A {
	COLOR: #333
}
.city {
	FLOAT: left; MARGIN-LEFT: 15px; PADDING-TOP: 18px
}
.city_now {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 18px; FLOAT: left; TEXT-ALIGN: center
}
.city_swich A {
	COLOR: #595756
}
.nav {
	FLOAT: left; MARGIN-LEFT: 30px; WIDTH: 710px; HEIGHT: 30px
}
.nav LI {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; LINE-HEIGHT: 27px; MARGIN-RIGHT: 5px; HEIGHT: 27px
}
.nav A {
	PADDING-LEFT: 3px; BACKGROUND: url(../image/nav_leftbg.gif) no-repeat; FLOAT: left; COLOR: #42403f; HEIGHT: 30px
}
.nav A:hover {
	COLOR: #ff3c00; TEXT-DECORATION: none
}
.nav_on A:hover {
	COLOR: #fff
}
.nav A SPAN:hover {
	TEXT-DECORATION: none
}
.nav A SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(../image/nav_rightbg.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 3px; HEIGHT: 27px
}
.nav_on A {
	PADDING-LEFT: 3px; BACKGROUND: url(../image/nav_on_leftbg.gif) no-repeat; FLOAT: left; COLOR: #fff; HEIGHT: 30px
}
.nav_on A SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 13px; BACKGROUND: url(../image/nav_on_rightbg.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 3px; HEIGHT: 27px
}
.nav_firstbg A {
	PADDING-LEFT: 3px; BACKGROUND: url(../image/nav_leftbg.gif) no-repeat; FLOAT: left; COLOR: #42403f
}
.header_Bottom {
	HEIGHT: 75px
}
.header_BottomL {
	BACKGROUND: url(../image/searbg_L.gif) no-repeat; FLOAT: left; WIDTH: 7px; HEIGHT: 74px
}
.header_BottomC {
	Z-INDEX: 200; BACKGROUND: url(../image/searbg_C.gif) repeat-x; FLOAT: left; WIDTH: 948px; POSITION: relative; HEIGHT: 74px
}
.header_BottomC1 {
	Z-INDEX: 200; BACKGROUND: url(../image/searbg_C.gif) repeat-x; FLOAT: left; WIDTH:100%; HEIGHT: 74px
}
.header_BottomR {
	BACKGROUND: url(../image/searbg_R.gif) no-repeat right top; FLOAT: right; WIDTH: 5px; HEIGHT: 74px
}
.nav_second {
	LINE-HEIGHT: 30px; HEIGHT: 32px
}
.nav_second {
	MARGIN-TOP: 4px; COLOR: #82252e
}
.nav_second A {
	MARGIN-TOP: 4px; COLOR: #82252e
}
.nav_second A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.nav_second1 {
	FONT-WEIGHT: bold; COLOR: #fff
}
.nav_second UL {
	MARGIN-LEFT: 70px
}
.nav_second LI {
	BACKGROUND: url(../image/nav_line.gif) no-repeat right 2px; FLOAT: left; TEXT-ALIGN: center
}
.seach_box {
	MARGIN: 0px auto; WIDTH: 800px; HEIGHT: 30px
}
.seach_this {
	PADDING-LEFT: 15px; BACKGROUND: url(../image/seach_more.gif) no-repeat 0px 10px; FLOAT: left; WIDTH: 55px; CURSOR: pointer; TEXT-ALIGN: left
}
.current_option {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; COLOR: #ff7300
}
.txtbox {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-LEFT: 10px
}
.txtbox1 {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-LEFT: 10px
}
.choose_city {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-LEFT: 10px
}
.txtbox {
	BORDER-RIGHT: #928f8f 1px solid; BORDER-TOP: #928f8f 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(../image/inputbg.gif) no-repeat left top; BORDER-LEFT: #928f8f 1px solid; WIDTH: 345px; COLOR: #abaeae; PADDING-TOP: 7px; BORDER-BOTTOM: #928f8f 1px solid; HEIGHT: 19px
}
.txtbox1 {
	BORDER-RIGHT: #928f8f 1px solid; BORDER-TOP: #928f8f 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(../image/inputbg.gif) no-repeat left top; BORDER-LEFT: #928f8f 1px solid; WIDTH: 345px; COLOR: #333333; PADDING-TOP: 7px; BORDER-BOTTOM: #928f8f 1px solid; HEIGHT: 19px
}
.choose_city {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../image/city_choose.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 75px; MARGIN-RIGHT: 10px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
.seach_help {
	BORDER-RIGHT: #6b6b6b 1px solid; BORDER-TOP: #6b6b6b 1px solid; DISPLAY: none; BACKGROUND: #fff; LEFT: 154px; BORDER-LEFT: #6b6b6b 1px solid; WIDTH: 365px; BORDER-BOTTOM: #6b6b6b 1px solid; POSITION: absolute; HEIGHT: auto
}
.help_keyword {
	CLEAR: both; PADDING-LEFT: 5px; FLOAT: left; COLOR: #404040
}
.help_num {
	PADDING-RIGHT: 5px; FLOAT: right; COLOR: #689c04
}
.seach_help LI {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.seach_help LI:hover {
	BACKGROUND: #e3eef9; CURSOR: pointer
}
.keyboard_help {
	BACKGROUND: #e3eef9; CURSOR: pointer
}
#change_city {
	DISPLAY: none
}
.h_city {
	BORDER-RIGHT: #ddd 1px solid; MIN-HEIGHT: 51px; BACKGROUND: url(../image/city_bg.gif) repeat-x; LEFT: 400px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 360px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 50px
}
.h_city LI {
	FLOAT: left; WIDTH: 50px; CURSOR: pointer
}
.h_city LI :hover {
	DISPLAY: block
}
.seach_all {
	BORDER-RIGHT: #faa040 1px solid; BORDER-TOP: #faa040 1px solid; Z-INDEX: 300; BACKGROUND: #ffffff; LEFT: 0px; BORDER-LEFT: #faa040 1px solid; WIDTH: 70px; BORDER-BOTTOM: #faa040 1px solid; POSITION: absolute; TOP: 22px
}
.seach_all A {
	DISPLAY: block; TEXT-DECORATION: none
}
.seach_all A:hover {
	BACKGROUND: #faa040; COLOR: #fff; TEXT-DECORATION: none
}
.seach_box {
	POSITION: relative
}
.clear {
	CLEAR: both; FONT-SIZE: 0px
}
.footer {
	MARGIN: 10px auto 0px; WIDTH: 960px; HEIGHT: 100px
}
.footer DIV {
	COLOR: #686868; PADDING-TOP: 10px
}
.footer DIV SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.footer P {
	COLOR: #4c4948
}
.footer DIV SPAN A {
	COLOR: #4c4948
}
.page_con {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.page_con A {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none
}
.page_con A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #fff; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: #4598d2
}
.pagination A:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #fff; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
.page_con SPAN.current {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN-LEFT: 2px; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 3px; HEIGHT: 25px; BACKGROUND-COLOR: #4598d2; borde: #2b66a5 1px solid
}
.page_con SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}
.page-top {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 5px
}
.page-next {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 16px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(../image/next_btn.gif) no-repeat 45px 7px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.page-next1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 16px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(../image/prev_btnn2.gif) no-repeat 45px 7px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; COLOR: #a9a9a9; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.page-next1:hover {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 16px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(../image/prev_btnn2.gif) no-repeat 45px 7px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; COLOR: #a9a9a9; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.page-prev {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(../image/prev_btn.gif) no-repeat 6px 7px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 20px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 22px
}
.page-prev1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(../image/prev_btnn.gif) no-repeat 6px 7px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 20px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 22px
}
.page-info {
	FLOAT: left; MARGIN-LEFT: 5px
}
.page-next {
	FLOAT: left; MARGIN-LEFT: 5px
}
.page-prev {
	FLOAT: left; MARGIN-LEFT: 5px
}
.page-prev1 {
	FLOAT: left; MARGIN-LEFT: 5px
}
.page-next1 {
	FLOAT: left; MARGIN-LEFT: 5px
}
.partbd {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 5px; Z-INDEX: 1000; MIN-HEIGHT: 100px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 340px; PADDING-TOP: 5px; BORDER-BOTTOM: #bbbbbb 1px solid; POSITION: absolute; HEIGHT: 100px; TEXT-ALIGN: left
}
.partbd H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
.partbd OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
.partbd LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
.partbd H3 {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: 100; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.partbd OL {
	LINE-HEIGHT: 25px
}
.partbd LI {
	DISPLAY: inline; MARGIN: 0px 5px; LINE-HEIGHT: 20px
}
.partbd LI A {
	COLOR: #2244dd
}
.partbd {
	BACKGROUND-COLOR: white
}
