BODY {
	PADDING-BOTTOM: 12px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ו","Arial Narrow"; BACKGROUND: #fff; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	LINE-HEIGHT: 16px; FONT-SIZE: 12px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TD {
	LINE-HEIGHT: 21px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
INPUT {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
TR {
	HEIGHT: 30px
}
TEXTAREA {
	FONT-FAMILY: Arial, Helvetica, sans-serif; TABLE-LAYOUT: fixed; FONT-SIZE: 12px; WORD-BREAK: break-all
}
A:link {
	COLOR: #005aa0; TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	COLOR: #00007f; TEXT-DECORATION: none
}
A:hover {
	COLOR: #fa4d09; TEXT-DECORATION: none
}
A.link5:link {
	COLOR: #0078f0; TEXT-DECORATION: none
}
A.link5:visited {
	COLOR: #0078f0; TEXT-DECORATION: none
}
A.link5:active {
	COLOR: #ff0066; TEXT-DECORATION: none
}
A.link5:hover {
	COLOR: #ff0066; TEXT-DECORATION: none
}
.txtinput1 {
	FONT-SIZE: 12px
}
.txtinput2 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.borders1 {
	BORDER-BOTTOM: #ffce84 1px solid; BORDER-LEFT: #ffce84 1px solid; BORDER-TOP: #ffce84 1px solid; BORDER-RIGHT: #ffce84 1px solid
}
.font1 {
	COLOR: #0a0a0a
}
.font2 {
	COLOR: #ff0000
}
.font3 {
	COLOR: #666666
}
.font4 {
	LINE-HEIGHT: 150%; BACKGROUND-COLOR: #eeeeee; COLOR: #ff5f11; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.select1 {
	FONT-SIZE: 12px
}
.bg_bk {
	BACKGROUND-COLOR: #fed0b9
}
.textbotton {
	FONT-FAMILY: arial; FONT-SIZE: 12px; MARGIN-RIGHT: 10px
}
A.menu1:link {
	COLOR: #575757; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.menu1:visited {
	COLOR: #575757; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.menu1:active {
	COLOR: #a43500; TEXT-DECORATION: none
}
A.menu1:hover {
	COLOR: #a43500; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.bg_g1 {
	BACKGROUND-COLOR: #ff8a00
}
.font_g1 {
	COLOR: #a8dcff
}
.bg_t {
	BACKGROUND-COLOR: #ffdbaa
}
.bg_2 {
	BACKGROUND-COLOR: #fff5ea
}
.right_con {
	WIDTH: 720px
}
.right_title {
	TEXT-ALIGN: left; LINE-HEIGHT: 21px; FONT-FAMILY: "ו"; HEIGHT: 21px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.con {
	BORDER-BOTTOM: #cccccc 1px solid
}
.nav {
	LINE-HEIGHT: 35px
}
.pic {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px
}
.right_edit {
	HEIGHT: 35px; FONT-WEIGHT: normal
}
#house_tile {
	HEIGHT: 20px; FONT-SIZE: 12px
}
.pic_box {
	WIDTH: 350px; HEIGHT: 300px; OVERFLOW: auto
}
.pic_title {
	PADDING-RIGHT: 10px; FLOAT: left; COLOR: #0a0a0a
}
.huxing_box {
	WIDTH: 700px; FLOAT: left
}
.xiaoqu_box {
	TEXT-ALIGN: left; PADDING-LEFT: 100px; HEIGHT: 25px; PADDING-TOP: 10px
}
.huxing_box {
	TEXT-ALIGN: left; PADDING-LEFT: 100px; HEIGHT: 25px; PADDING-TOP: 10px
}
.shinei_box {
	TEXT-ALIGN: left; PADDING-LEFT: 100px; HEIGHT: 25px; PADDING-TOP: 10px
}
#xq_pic_num {
	boeder: 1px solid #000
}
.click1 INPUT {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 190px; BORDER-TOP-STYLE: none; BACKGROUND: url(images/pic_more.gif) no-repeat right top; HEIGHT: 28px; BORDER-LEFT-STYLE: none; PADDING-TOP: 3px
}
.click2 INPUT {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 190px; BORDER-TOP-STYLE: none; BACKGROUND: url(images/pic_less.gif) no-repeat right top; HEIGHT: 28px; BORDER-LEFT-STYLE: none; PADDING-TOP: 3px
}
#hx_pics {
	WIDTH: 350px; HEIGHT: 200px; OVERFLOW: auto
}
#xiaoqu_rm {
	PADDING-LEFT: 80px
}
#xiaoqu_add_input {
	PADDING-LEFT: 80px
}
#huxing_add_input {
	PADDING-LEFT: 80px
}
#xiaoqu_add_input INPUT {
	HEIGHT: 23px
}
#huxing_add_input INPUT {
	HEIGHT: 23px
}
.textbotton {
	HEIGHT: 23px
}
#prolist {
	TEXT-ALIGN: left; HEIGHT: auto
}
.uploadss {
	TEXT-ALIGN: left; WIDTH: 800px
}
.uploadss TD {
	WIDTH: 350px
}
.uploadss SPAN {
	PADDING-LEFT: 150px; FLOAT: left
}
#hinei_rm {
	WIDTH: 250px; BACKGROUND: #f5f5f5; FLOAT: left
}
#shinei_adds {
	TEXT-ALIGN: left; BACKGROUND: #e6e5e5; HEIGHT: 250px; OVERFLOW: auto; PADDING-TOP: 10px
}
.shinei_box {
	POSITION: relative; PADDING-RIGHT: 10px; FLOAT: left
}
.pic_blank {
	TEXT-ALIGN: center; PADDING-LEFT: 15px; FLOAT: left; HEIGHT: 140px; VERTICAL-ALIGN: bottom
}
.pic_blank IMG {
	PADDING-RIGHT: 5px
}
.pic_blank1 {
	TEXT-ALIGN: center; PADDING-LEFT: 15px; FLOAT: left; HEIGHT: 140px; VERTICAL-ALIGN: bottom
}
.pic_blank1 IMG {
	PADDING-LEFT: 10px
}
.room {
	WIDTH: 700px; MARGIN-LEFT: 100px
}
.room TD {
	WIDTH: 350px
}
.upload_pics {
	WIDTH: 700px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 80px
}
.upload_pics TD {
	WIDTH: 350px
}
#xq_pics {
	WIDTH: 350px; HEIGHT: 345px; OVERFLOW: auto
}
#xq_right_pic {
	TEXT-ALIGN: left
}
#xiaoqu1 {
	MARGIN-BOTTOM: 5px
}
#huxing1 {
	MARGIN-BOTTOM: 5px
}
.uppic_title {
	PADDING-LEFT: 10px; PADDING-TOP: 10px
}
.map_pic {
	POSITION: relative; LINE-HEIGHT: 21px; PADDING-LEFT: 10px; WIDTH: 100px; FLOAT: left; CURSOR: pointer
}
.map_pic {
	BACKGROUND: url(images/pho_more.gif) no-repeat
}
.map_piclist {
	BORDER-BOTTOM: #c9c6c3 1px solid; POSITION: absolute; BORDER-LEFT: #c9c6c3 1px solid; WIDTH: 108px; BACKGROUND: #e7e6e6; BORDER-TOP: #c9c6c3 1px solid; TOP: 30px; BORDER-RIGHT: #c9c6c3 1px solid; LEFT: 158px
}
.map_piclist A {
	LINE-HEIGHT: 21px; PADDING-LEFT: 10px; WIDTH: 100px; DISPLAY: inline-block; COLOR: #333333; TEXT-DECORATION: none
}
.map_piclist A:hover {
	LINE-HEIGHT: 21px; PADDING-LEFT: 10px; WIDTH: 98px; DISPLAY: inline-block; BACKGROUND: #f3976b; FLOAT: left; COLOR: #fff; TEXT-DECORATION: none
}
.photo {
	POSITION: relative
}
.right_pic {
	BACKGROUND: #efecec; PADDING-TOP: 5px
}
.right_title {
	FLOAT: left
}
.page_con A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.current {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #5c5c5b; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.pic_name_div {
	TEXT-ALIGN: center
}
.broker_box {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 20px; WIDTH: 806px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.save_message {
	TEXT-ALIGN: center; MARGIN: 10px; BACKGROUND: #fbf2c0; HEIGHT: 25px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.broker_title {
	BORDER-BOTTOM: #e5e4e4 2px solid; MARGIN: 0px 10px; BACKGROUND: #f5f5f5; HEIGHT: 28px
}
.broker_title H2 {
	BORDER-BOTTOM: #e2e2e2 1px; BORDER-LEFT: #e2e2e2 1px solid; PADDING-LEFT: 10px; WIDTH: 100px; BACKGROUND: #e5e4e4; HEIGHT: 22px; COLOR: #ff6600; FONT-SIZE: 14px; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 5px
}
.photo_box {
	HEIGHT: 120px
}
.photo_box IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px
}
.client {
	PADDING-LEFT: 25px; FLOAT: left
}
#huxing_rm {
	PADDING-LEFT: 80px
}
.choose_wt {
	TEXT-ALIGN: left; PADDING-LEFT: 20px; MARGIN-BOTTOM: 20px; BACKGROUND: #fef0e7; HEIGHT: 30px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.choose_wt A {
	MARGIN-TOP: 20px; MARGIN-RIGHT: 20px
}
.choose_wt A:hover {
	COLOR: #fa4d09
}
.choose_wt A:visited {
	COLOR: #333333
}
.rent_on {
	BORDER-BOTTOM: #e78941 1px; BORDER-LEFT: #e78941 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ffffff; COLOR: #fa4d09; FONT-SIZE: 14px; BORDER-TOP: #e78941 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #e78941 1px solid; PADDING-TOP: 10px; dispaly: block
}
.rent_off {
	BORDER-BOTTOM: #d8d8d8 1px; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #dddddd; FONT-SIZE: 14px; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 10px; dispaly: block
}
.rent_on:link {
	COLOR: #fa4d09
}
.visited {
	TEXT-ALIGN: center; WIDTH: 130px; FLOAT: left; HEIGHT: auto; MARGIN-LEFT: 10px
}
.visited IMG {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 2px
}
.textbotton1 {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 108px; BORDER-TOP-STYLE: none; BACKGROUND: url(images/ok.gif) no-repeat; HEIGHT: 30px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
.pic {
	MARGIN: 0px 10px
}
.orange {
	COLOR: #ef6e0f; FONT-SIZE: 16px
}
.nav_choose {
	LINE-HEIGHT: 21px; HEIGHT: 25px
}
.broker_con {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; MARGIN-TOP: 10px; BACKGROUND: #fff; FLOAT: left; MARGIN-LEFT: 40px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.broker_info UL {
	PADDING-BOTTOM: 10px
}
.delete {
	PADDING-LEFT: 25px; BACKGROUND: url(images/ico.gif) no-repeat 10px -632px; COLOR: #919191
}
.change_pic {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 550px; PADDING-RIGHT: 0px; HEIGHT: 200px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 10px
}
.change_pic SPAN {
	MARGIN-RIGHT: 10px
}
.change_pic IMG {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.msg {
	COLOR: #cc3300; FONT-SIZE: 12px
}
#up_xiaoqu {
	HEIGHT: 20px
}
#cerrform {
	Z-INDEX: 10000
}
